doctype 5
html
  head
    title  Khetjs credits
    link(rel='stylesheet', href='/stylesheets/style.css')    
  body
    p Yuri Valentini
    p Emanuele Bizzarri
    p
        a(href="/") Back
    